<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-title>Nike Store</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content fullscreen>
        <!-- My Profile -->
        <ion-card>
            <img src="../../assets/PicsArt_07-17-12.03.02.png" />
            <ion-card-header>
                <ion-card-subtitle>My Profile</ion-card-subtitle>
                <ion-card-title>Hammad Ansari</ion-card-title>
            </ion-card-header>
            <ion-grid>
                <ion-row>
                    <ion-col style="display: flex; justify-content: center;">
                        <ion-button text-class="ion-text-center" color="dark">Message</ion-button>
                        <ion-button text-class="ion-text-center" color="dark">Follow</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-card>
                <ion-card-header>Details</ion-card-header>
                <ion-card-content class="ion-align-items-center">
                    <b>fruxc</b>
                    <hr>
                    <ion-icon name="pin"></ion-icon> Mumbai<br>
                    <ion-icon name="call"></ion-icon> 9820129695<br>
                    <ion-icon name="logo-google"></ion-icon> hammadansari17<br>
                </ion-card-content>
            </ion-card>
        </ion-card>
        <!-- Trump Profile -->
        <ion-card>
            <img src="../../assets/avatar_DonaldTrump.png" />
            <ion-card-header>
                <ion-card-subtitle>45<sup>th</sup> President of America</ion-card-subtitle>
                <ion-card-title>Donald Trump</ion-card-title>
            </ion-card-header>
            <ion-card-content class="ion-align-items-center">
                Donald John Trump is the 45th and current president of the United States. Before entering politics, he was a businessman and television personality. Trump was born and raised in the New York City borough of Queens, and received a bachelor's degree in
                economics from the Wharton School.
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                Details
            </ion-card-header>
            <ion-card-content>

            </ion-card-content>
        </ion-card>


        <!--Shoes-->
        <ion-card>
            <img src="../assets/shoes.jpg" />
            <ion-card-header>
                <ion-card-subtitle>More than just "Shoes"</ion-card-subtitle>
                <ion-card-title>Air Jordan</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                Air Jordan is a brand of basketball shoes, athletic, casual, and style clothing produced by Nike. It was created for former NBA player and 5 time NBA MVP Michael Jordan. The original Air Jordan sneakers were produced exclusively for Michael Jordan in
                early 1984, and released to the public in late 1984. </ion-card-content>
        </ion-card>
        <ion-fab vertical="top" horizontal="end" slot="fixed">
            <ion-fab-button (click)="presentActionSheet()">
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
        </ion-fab>

        <ion-button style="display: flex; justify-content: center;" color="dark" (click)="goToForm()">Register Details</ion-button>
    </ion-content>
    <ion-button style="display: flex; justify-content: center;" color="dark">Add to cart</ion-button>
</ion-app>