<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Enter Details</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <div class="ion-padding">
        <form>
            <ion-list lines="full" class="ion-no-margin ion-no-padding">
                <ion-item>
                    <ion-label position="stacked">First Name:
                        <ion-text color=danger>*</ion-text>
                    </ion-label>
                    <ion-input required [ngModelOptions]="{standalone: true}" [(ngModel)]="user.fname" type="text" placeholder="Enter Name"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="stacked">Last Name:
                        <ion-text color=danger>*</ion-text>
                    </ion-label>
                    <ion-input required [ngModelOptions]="{standalone: true}" [(ngModel)]="user.lname" type="text" placeholder="Enter Name"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="stacked">Email:
                        <ion-text color=danger>*</ion-text>
                    </ion-label>
                    <ion-input required [ngModelOptions]="{standalone: true}" [(ngModel)]="user.mail" type="email" placeholder="Enter Email"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="stacked">Contact:
                        <ion-text color=danger>*</ion-text>
                    </ion-label>
                    <ion-input required [ngModelOptions]="{standalone: true}" [(ngModel)]="user.phone" type="tel" placeholder="Enter Contact"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="stacked">Address
                        <ion-text color=danger>*</ion-text>
                    </ion-label>
                    <ion-input [ngModelOptions]="{standalone: true}" [(ngModel)]="user.add1" placeholder="Address Line 1"></ion-input>
                    <ion-input [ngModelOptions]="{standalone: true}" [(ngModel)]="user.add2" placeholder="Address Line 2"></ion-input>
                    <ion-input [ngModelOptions]="{standalone: true}" [(ngModel)]="user.city" placeholder="City"></ion-input>
                    <ion-input [ngModelOptions]="{standalone: true}" [(ngModel)]="user.state" placeholder="State"></ion-input>
                    <ion-input [ngModelOptions]="{standalone: true}" [(ngModel)]="user.zip" placeholder="Zip Code"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label> <b>Date Picker</b></ion-label>
                    <ion-label position="stacked">Date of birth
                        <ion-text color=danger>*</ion-text>
                    </ion-label>
                    <ion-input required [ngModelOptions]="{standalone: true}" [(ngModel)]="user.date" type="date" (click)="showDatePicker()"></ion-input>
                </ion-item>

                <ion-fab vertical="bottom" horizontal="end" slot="fixed">
                    <ion-fab-button (click)="presentActionSheet()">
                        <ion-icon name="add"></ion-icon>
                    </ion-fab-button>
                </ion-fab>
                <br><br>
                <div class="ion-align-items-center">
                    <button value="submit" (click)="presentAlertConfirm()" class="btn">Submit</button>
                    <ion-button value="cancel">Cancel</ion-button>
                </div>
            </ion-list>
        </form>
    </div>
</ion-content>