.alert-checkbox-label {
  font-size: 0.8rem !important;
  color: red;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  padding: 0 12% !important;
}
ion-segment {
  height: 5rem;
  background-color: #e7e4e5;
}
.Templates_Segment ion-segment {
  height: 4rem;
  background-color:#f8ede5;
  ion-label {
    font-size: 0.7rem;
  }
}
.center-title {
  margin-left: 48px;
}
.infoIconContainer {
  height: 35px;

}