.recievedFeedbackTab, .givenFeedbackTab, .homeFeedbackTab, .notificationsFeedbackTab, .accountFeedbackTab {
    width: 20%;
  }
  .homeFabTab {
      position: absolute;
  }
  .homeFabTab {
    --border-radius: 30%;
  }
  .tabLabel {
      font-size: 0.6rem;
  }