<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>

        <ion-title>{{listName}}</ion-title>

    </ion-toolbar>
</ion-header>



<ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher slot="fixed">
            <ion-refresher-content></ion-refresher-content>
        </ion-refresher>
    </ion-refresher>
        <ion-list>
            <ion-item-sliding *ngFor="let product of products; let i = index">
                <ion-item>
                    <ion-avatar slot="start">
                        <img src="{{product.avatar}}">
                    </ion-avatar>
                    <ion-text class="ion-padding">
                        <div>{{product.name}}</div>
                        <div class="product-info" >{{product.brand}}</div>
                        <div class="product-info" >{{product.weight}}</div>
                    </ion-text>

                    <div slot="end">
                        <div class="ion-text-center" class="up-row-container">
                            <ion-icon name="chevron-up-outline"class="up-row-icon" (click)="increaseQuantity(product)"></ion-icon>
                        </div>
                        <div>
                            <label #quantity class="ion-text-center" class="counter-label" >{{product.pivot['quantity']}}</label>
                        </div>
                        <div class="ion-text-center" class="down-row-container">
                            <ion-icon name="chevron-down-outline" class="down-row-icon" (click)="decreaseQuantity(product)"></ion-icon>
                        </div>
                    </div>
                </ion-item>

                <ion-item-options side="end" (click)="deleteProduct(product, i)">
                    <ion-item-option>
                        <ion-icon slot="icon-only" name="trash"></ion-icon>
                    </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>


    <!-- fab placed to the top end -->

        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button routerLink="search">
                <ion-icon name="search"></ion-icon>
            </ion-fab-button>
        </ion-fab>

</ion-content>


<ion-footer *ngIf="!(productLength$ | async)">
    <div *ngIf="(supermarketBtnState$ | async); else showSupermarket">
        <ion-item lines="none" class="text-container">
            <ion-label class="distance-label" class="ion-text-center " color="tertiary">Distanza supermercato</ion-label>
        </ion-item>


        <ion-item lines="none" class="range-btn">
            <ion-range #rangeBar min="0" max="20" pin snaps="true" step="2" color="secondary">
                <ion-icon slot="start" name="man"></ion-icon>
                <ion-icon slot="end" name="cart"></ion-icon>
            </ion-range>
        </ion-item>

        <div class="compare-button">
            <ion-button (click)="compareSupermarket(rangeBar.value)">Confronta supermercati</ion-button>
        </div>
    </div>

</ion-footer>


<ng-template #showSupermarket>

    <div *ngIf="bestSupermarket$| async as supermarket">
        <ion-item lines="none">
            <ion-avatar class="item-avatar" slot="start">
                <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fimages.gofreedownload.net%2Fconad-117103.jpg&f=1&nofb=1">
            </ion-avatar>
            <ion-text class="ion-padding">
                <div  >{{supermarket['name']}}</div>
                <div class="market-info"> <ion-icon name="location-outline" class="market-info-icon" ></ion-icon> {{supermarket.city}} - {{supermarket.location}}</div>
                <div class="market-info"> <ion-icon name="wallet-outline"  class="market-info-icon" ></ion-icon> {{supermarket.total}} €</div>
            </ion-text>
        </ion-item>

    </div>
</ng-template>