a{
  font-size: 0.9em;
  text-decoration: none;
}

form {
    display:flex; 
    flex-direction: column; 
    justify-content: center; 
    height: 80%;
}

.field{
  margin-top:2em;
}

ion-item{
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

ion-button{
  --background: transparent;
  border: 1px solid var(--ion-color-primary);
  border-radius: 0.5em;
  color: var(--ion-color-primary);
  --box-shadow:none;
}

.reset-button{
  display:flex; flex-direction: column; justify-content: center; height: 100%;
}

.title{
  font-family: shopie;
  font-size: 2em;
  color: var(--ion-color-tertiary);
  margin-bottom: 2em;
}

.reset-button{
  display:flex; flex-direction: column; justify-content: center; height: 100%;
}