
<ion-content>
        <form [formGroup]="registrationForm">

            <ion-item lines="none" >
                <ion-label class="title ion-text-center" >Crea il tuo account</ion-label>
            </ion-item>
            <ion-item class="ion-margin">
                <ion-input placeholder="Nome" autofocus="true" formControlName="name"  class="input-field ion-text-center"></ion-input>
            </ion-item>
            <ion-item class="ion-margin">
                <ion-input placeholder="Cognome" autofocus="true" formControlName="lastname"  class="input-field ion-text-center"></ion-input>
            </ion-item>

            <ion-item class="ion-margin ion-email">
                <ion-input placeholder="Email" type="email"  formControlName="email" class="input-field ion-text-center"></ion-input>
            </ion-item>
            <ion-item class="ion-margin password">
                <ion-input placeholder="Password" type="password" formControlName="password" class="input-field ion-text-center"></ion-input>
            </ion-item>
            <ion-item class="ion-margin password">
                <ion-input placeholder="Conferma password" type="password" formControlName="conf_password" class="input-field ion-text-center"></ion-input>
            </ion-item>
        </form>
    

</ion-content>

<ion-footer class="ion-no-border ion-margin-bottom">
    <div class="ion-margin" class="registration-button">
        <ion-button size="medium" class="ion-margin" color="transparent" (click)="registration()" [disabled]="!registrationForm.valid">Registrami</ion-button>
        <ion-item lines="none">
            <a routerLink="/login" (click)="registrationForm.reset()">Torna alla login</a>
        </ion-item>
    </div>

</ion-footer>