.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.child {
  text-align: left;
  /*font-family: shopie;*/
  font-family: handlee;
  font-size:1.5em;
}

.owner_avatar{
  height: 2.2em;
  width:2.2em;
  background-color: #ddd;
}

.users_avatar{
  margin-left: -0.3em;
  border: 1px solid var(--ion-color-secondary);
  padding-left: 0 !important;
}
.users_avatar:first-of-type{
  margin-left:0em;
  border: 1px solid var(--ion-color-secondary);
}

ion-avatar{
  margin:0.1em; height: 1.5em; width:1.5em;
}


ion-button{
  --box-shadow: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ion-card-header{
  margin: 0;
  padding: 0;
}

ion-item {
  margin: 0;
  padding: 0;
}

ion-button {
  margin: 0;
  padding: 0;
}
ion-card-content {
  margin: 0;
  padding: 0;
}

.content {
  /*background-image: url("/assets/pics/background.jpg");*/
  /*background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);*/
  background-repeat: no-repeat;
  padding-top: 1em;
  padding-bottom: 1em;
}

.footer {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.collaborators {
  display: flex;
  justify-content: end;
}

.user {
  display: inline-block;
  margin-left: 0.2em;
  margin-right: 0.2em;
  font-size: 0.7em;
}

.btn-share{
  margin-left: 0.4em;
}

.products:last-child::after {
  content: "...";
}

