
<ion-card>

  <ion-card-header>
    <ion-item lines="none">

      <ion-avatar class="owner_avatar" slot="start">
        <img src="{{listOfCards.avatar}}"/>

      </ion-avatar>
      <ion-label class="ion-margin-horizontal"> {{listOfCards.created_by}} </ion-label>

        <ion-icon slot="end" color="primary" name="trash" (click)="deleteCard(listOfCards.id)"></ion-icon>
    </ion-item>
  </ion-card-header>

  <ion-card-content>
    <!--  passo il nome della lista nella query -->
    <div class="container content" [routerLink]="listOfCards.id" [queryParams]="{ name: listOfCards.name }">
      <h1 class="child">{{listOfCards.name}}</h1>

      <ul class="container">
        <li class="child products" *ngFor="let product of listOfCards.products"> {{product.name}}</li>
      </ul>
    </div>


    <ion-item lines="none">
<!--      <ion-label slot="start" *ngIf="listOfCards.total">-->
<!--        {{listOfCards.total}} $-->
<!--      </ion-label>-->

      <ion-item class="ion-no-margin ion-no-padding" lines="none" *ngFor="let user of usersOfCard | async">
        <ion-avatar slot="end" class="users_avatar ion-no-padding ion-no-margin">
          <img src="{{user.avatar}}">
        </ion-avatar>
      </ion-item>

      <ion-icon name="share-social"  slot="end" (click)="presentPopover($event)"></ion-icon>

    </ion-item>

  </ion-card-content>

</ion-card>


