.active-item {
    border-left: 8px solid var(--ion-primary-color);
}

.column {
    float: left;
    width: 20%;
    padding-top: 0px;
    padding-left: 5%;
}

.login-text {
    padding-left: 25%;
}
