<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>{{ folder }}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-header collapse="condense">
		<ion-toolbar>
			<ion-title size="large">{{ title }}</ion-title>
		</ion-toolbar>
	</ion-header>

	<h3>List from local data</h3>
	<ion-grid>
		<ion-row *ngFor="let item of data; index as i">
			<ion-col size="1">{{ i+ 1 }}</ion-col>
			<ion-col size="3"> {{ item.name }}</ion-col>
			<ion-col size="3"> {{ item.company }}</ion-col>
		</ion-row>
	</ion-grid>

	<h3>Lists with Groups</h3>
	<ion-item-group>
		<ion-item-divider>
			<ion-label>A</ion-label>
		</ion-item-divider>
		<ion-item>
			<ion-label>Alexa</ion-label>
		</ion-item>
		<ion-item>
			<ion-label>Amber</ion-label>
		</ion-item>
	</ion-item-group>

	<ion-item-group>
		<ion-item-divider>
			<ion-label> Asia Country Game </ion-label>
		</ion-item-divider>

		<ion-item-sliding>
			<ion-item>
				<ion-label>
					<h3>India</h3>
				</ion-label>
			</ion-item>
			<ion-item-options>
				<ion-item-option> Cricket </ion-item-option>
			</ion-item-options>
		</ion-item-sliding>

		<ion-item-sliding>
			<ion-item>
				<ion-label>
					<h3>Japan</h3>
				</ion-label>
			</ion-item>
			<ion-item-options>
				<ion-item-option> FootBall </ion-item-option>
			</ion-item-options>
		</ion-item-sliding>
	</ion-item-group>

	<ion-list>
		<ion-item-sliding>
			<ion-item>
				<ion-label>Employee record</ion-label>
			</ion-item>
			<ion-item-options side="start">
				<ion-item-option (click)="favorite()">Favorite</ion-item-option>
				<ion-item-option color="danger" (click)="share()"
					>Share</ion-item-option
				>
			</ion-item-options>

			<ion-item-options side="end">
				<ion-item-option (click)="unread()">Unread</ion-item-option>
			</ion-item-options>
		</ion-item-sliding>
	</ion-list>

	<h3>Slider</h3>
	<ion-list>
		<ion-item-sliding *ngFor="let page of pages" routerLink="{{page.link}}">
			<ion-item-options side="start">
				<ion-item-option color="danger" (click)="share(item)"
					>Share
				</ion-item-option>
			</ion-item-options>

			<ion-item slot="top">
				<ion-avatar>
					<img src="{{ page.thumb }}" />
				</ion-avatar>
				<ion-label>{{ page.title }}</ion-label>
			</ion-item>

			<ion-item-options slot="end">
				<ion-button color="primary" (click)="edit(page.title)">
					<ion-icon name="text"></ion-icon>Edit</ion-button
				>
				<ion-button color="danger" (click)="delete(page.title)">
					<ion-icon name="call"></ion-icon>Delete</ion-button
				>
			</ion-item-options>
		</ion-item-sliding>
	</ion-list>
</ion-content>
