<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>

    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-searchbar class="searchbar" class="ion-no-margin" #searchBox search-icon="search" inputmode="search" placeholder="Cerca un prodotto" (ionInput)="search(searchBox.value)"></ion-searchbar>
            </ion-col>
        </ion-row>


        <ion-row *ngFor="let product of products$ | async">
            <ion-col>
                <ion-item >
                    <ion-avatar slot="start">
                        <img src="{{product['avatar']}}">
                    </ion-avatar>
                    <ion-text class="ion-padding">
                        <div>{{product.name}}</div>
                        <div class="product-info" >{{product['brand']}}</div>
                        <div class="product-info" >{{product.weight}}</div>
                    </ion-text>

                        <ion-icon (click)="addToList(product)" class="cart-icon" name="cart-outline" color="primary" slot="end"></ion-icon>

                </ion-item>
            </ion-col>
        </ion-row>




    </ion-grid>



</ion-content>