

<ion-content>

  
    <form [formGroup]="loginForm">
      <ion-item lines="none" >
        <ion-label class="title ion-text-center">Ben tornato</ion-label>
      </ion-item>
      
      <ion-item class="ion-margin ion-email">
        <ion-input placeholder="Email" type="email" autofocus="true" formControlName="email"  class="ion-text-center"></ion-input>
      </ion-item>
      <ion-item class="ion-margin password">
        <ion-input placeholder="Password" type="password" formControlName="password" class="ion-text-center"></ion-input>
      </ion-item>
    </form>
  

</ion-content>

<ion-footer class="ion-no-border ion-margin-bottom">
  <div class="ion-margin" class="login-button">
    <ion-button class="login-button" size="medium" class="ion-margin" color="transparent" [disabled]="!loginForm.valid"
      (click)="login()"
    >
    Login
  </ion-button>

    <ion-item lines="none">
      <a routerLink="/registration" (click)="loginForm.reset()">Registrami</a>
    </ion-item>
    <ion-item lines="none">
      <a routerLink="/reset" (click)="loginForm.reset()">Ho dimenticato la password</a>
    </ion-item>

  </div>
</ion-footer>
